<div class="footer-menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="row footer-menu-block">
                    <div class="col-md-6 col-lg-4">
                        @Html.Sitecore().Placeholder("footer-article")
                    </div>
                    <div class="col-md-6 col-lg-4">
                        @Html.Sitecore().Placeholder("footer-more")
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="footer-menu-list">
                            @Html.Sitecore().Placeholder("footer-about")
                        </div>
                        <div class="footer-menu-list">
                            @Html.Sitecore().Placeholder("footer-term")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col order-md-1">
                @Html.Sitecore().Placeholder("footer-social")
            </div>
        </div>
    </div>
</div>